<div class="items-grid" *ngIf="!loading && items.length > 0">

  <div class="item-card" *ngFor="let item of items">

    <!-- CARD CONTENT -->
    <div class="card-body">

      <h3 class="item-title">{{ item.title }}</h3>

      <p class="description">
        {{ item.description }}
      </p>

      <p class="location">
        📍 {{ item.location }}
      </p>

      <div class="status-row">

        <span class="status"
              [ngClass]="{
                'open': item.status === 'Open',
                'returned': item.status === 'Returned'
              }">

          {{ item.status }}

        </span>

      </div>

      <!-- ACTION BUTTONS -->

      <div class="card-actions">

        <button class="details-btn"
                [routerLink]="['/item', item.id]">
          View Details
        </button>

        <button class="claim-btn"
                *ngIf="
                  item.type === 'Found' &&
                  item.status === 'Open' &&
                  currentUserId !== item.userId
                "
                [routerLink]="['/claim', item.id]">

          Claim Item

        </button>

      </div>

    </div>

  </div>

</div>
