<nav class="navbar">

  <div class="logo" routerLink="/">
    FindIt
  </div>

  <div class="nav-links">



    <!-- NOT LOGGED IN -->

    <ng-container *ngIf="!isLoggedIn">
      <a routerLink="/" routerLinkActive="active">Home</a>


      <a routerLink="/login" routerLinkActive="active">Login</a>

      <a routerLink="/register" routerLinkActive="active">Register</a>

    </ng-container>

    <!-- LOGGED IN -->

    <ng-container *ngIf="isLoggedIn">

      <a routerLink="/dashboard">Dashboard</a>

      <a routerLink="/create-item">Report Item</a>

      <!-- <a routerLink="/my-claims">My Claims</a> -->

      <button (click)="logout()">Logout</button>

    </ng-container>

  </div>

</nav>
